<footer  class="bg-gray-800 pt-40  text-gray-300 py-8">
  <div class="container text-center mx-auto flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0 w-1/3">
          <h2 class="text-lg font-bold mb-2">Location</h2>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
      </div>
      <div class="mb-4 md:mb-0 w-1/3">
          <h2 class="text-lg font-bold m-auto mb-2">Around the Web</h2>
          <ul class="flex space-x-4 justify-center">
              <li class="circle-border p-2">
                  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                      <i class="fab fa-facebook-f"></i>
                  </a>
              </li>
              <li class="circle-border p-2">
                  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                      <i class="fab fa-twitter"></i>
                  </a>
              </li>
              <li class="circle-border p-2">
                  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                      <i class="fab fa-linkedin-in"></i>
                  </a>
              </li>
              <li class="circle-border p-2">
                  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="twitch">
                      <i class="fab fa-twitch"></i>
                  </a>
              </li>
          </ul>
      </div>
      <div class="w-1/3">
          <h2 class="text-lg font-bold mb-2">About Freelancer</h2>
          <p>Freelancer is a free to use, licensed Bootstrap theme created by Route.</p>
      </div>
  </div>
  <div class="text-center mt-4">
      <p class="font-bold">Copyright © Your Website 2021</p>
  </div>
</footer>
