<div class="bgg h-screen flex flex-col items-center justify-center">
    <div class="relative w-48 h-48 rounded-full overflow-hidden">
      <div class=" rounded-full"></div>
      <img
        src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg"
        alt="Profile picture"
        class="w-full h-full object-cover"
      />
    </div>
    <h1 class="text-white text-3xl font-bold mt-6">START FRAMEWORK</h1>
    <div class="flex justify-center pt-4 mb-8">
      <div class="w-16 h-1 bg-white rounded-full"></div>
      <div class="w-4 h-4 bg-white rounded-full mx-2"></div>
      <div class="w-16 h-1 bg-white rounded-full"></div>
  </div>
    <div class="text-white mt-2">
      <span class="text-xs">Graphic Artist</span> - 
      <span class="text-xs">Web Designer</span> - 
      <span class="text-xs">Illustrator</span>
    </div>
  </div>