<nav class="flex items-center bgg text-white justify-between flex-wrap bg-gray-200 p-6">
  <div class="flex items-center flex-shrink-0 text-black mr-6">
    <a [routerLink]="['/home']" class="font-semibold text-white text-2xl m-auto tracking-tight">start framework</a>
  </div>
  <div class="flex-grow"></div> <!-- added to push the menu to the right -->
  <div class="flex justify-end lg:justify-end lg:flex lg:items-center mr-8"> <!-- added mr-8 to bring the menu a little to the left -->
    <a [routerLink]="['/about']" [routerLinkActive]="['active']" class="block text-white text-xl lg:inline-block lg:mt-0 hover:text-black mr-4">about</a>
    <a [routerLink]="['/portfolio']" [routerLinkActive]="['active']" class="block text-white text-xl lg:inline-block lg:mt-0 hover:text-black mr-4">portfolio</a>
    <a [routerLink]="['/contact']" [routerLinkActive]="['active']" class="block text-white text-xl lg:inline-block lg:mt-0 hover:text-black">contact</a>
  </div>
</nav>